{
  "extends": "airbnb",
  "settings": {
    "import/resolver": {
      "node": { "extensions": [".js", ".mjs"] }
    }
  },
  "rules": {
    "semi": 0,
    "no-console": 0,
    "no-plusplus": 0,
    "no-param-reassign": 0,
    "no-trailing-spaces": 0,
    "import/extensions": ["error", "always", {
      "js": "never",
      "mjs": "never"
    }]
  }
}